In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [5]:
train_data=pd.read_csv("C:\\Users\\joych\\OneDrive\\Desktop\\Great Learning\\Capstone\\New Data\\clean_data.csv",index_col =0)

In [6]:
test_data=pd.read_csv("C:\\Users\\joych\\OneDrive\\Desktop\\Great Learning\\Capstone\\New Data\\validation_data.csv",index_col =0);

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 883760 entries, 0 to 887441
Data columns (total 20 columns):
loan_amnt              883760 non-null float64
term                   883760 non-null int64
installment            883760 non-null float64
home_ownership         883760 non-null object
annual_inc             883760 non-null float64
verification_status    883760 non-null object
loan_status            883760 non-null object
purpose                883760 non-null object
addr_state             883760 non-null object
dti                    883760 non-null float64
delinq_2yrs            883760 non-null float64
open_acc               883760 non-null float64
pub_rec                883760 non-null float64
revol_bal              883760 non-null float64
total_acc              883760 non-null float64
initial_list_status    883760 non-null object
application_type       883760 non-null object
mort_acc               883760 non-null float64
loan_age               883760 non-null int64
fico_value             883760 non-null float64
dtypes: float64(11), int64(2), object(7)
memory usage: 141.6+ MB

In [8]:
for column in test_data:
    print(column)

loan_amnt
term
installment
home_ownership
annual_inc
verification_status
loan_status
purpose
addr_state
dti
delinq_2yrs
open_acc
pub_rec
revol_bal
total_acc
initial_list_status
application_type
mort_acc
loan_age
fico_value

In [9]:
train_data.shape

(883760, 20)

In [10]:
for column in train_data:
    print(column)

loan_amnt
term
installment
home_ownership
annual_inc
verification_status
loan_status
purpose
addr_state
dti
delinq_2yrs
open_acc
pub_rec
revol_bal
total_acc
initial_list_status
application_type
mort_acc
loan_age
fico_value

In [11]:
train_data.describe()

,loan_amnt,term,installment,annual_inc,dti,delinq_2yrs,open_acc,pub_rec,revol_bal,total_acc,mort_acc,loan_age,fico_value
count,883760.000000,883760.000000,883760.000000,8.837600e+05,883760.000000,883760.000000,883760.000000,883760.000000,8.837600e+05,883760.000000,883760.000000,883760.000000,883760.000000
mean,14731.919724,43.131266,436.515979,7.499028e+04,18.120789,0.314170,11.543626,0.195315,1.689510e+04,25.266962,1.659818,2544.660686,696.949143
std,8431.959984,10.967934,244.386965,6.472353e+04,8.407760,0.861878,5.314401,0.581381,2.239845e+04,11.841671,2.067023,461.002825,30.503467
min,500.000000,36.000000,4.930000,1.200000e+03,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000,0.000000,2181.000000,612.000000
25%,8000.000000,36.000000,260.460000,4.500000e+04,11.900000,0.000000,8.000000,0.000000,6.433000e+03,17.000000,0.000000,2186.000000,672.000000
50%,13000.000000,36.000000,382.550000,6.480000e+04,17.640000,0.000000,11.000000,0.000000,1.185600e+04,24.000000,1.000000,2547.000000,692.000000
75%,20000.000000,60.000000,572.400000,9.000000e+04,23.930000,0.000000,14.000000,0.000000,2.079700e+04,32.000000,3.000000,2911.000000,712.000000
max,35000.000000,60.000000,1445.460000,9.500000e+06,999.000000,39.000000,90.000000,86.000000,2.904836e+06,169.000000,52.000000,5109.000000,847.500000

In [12]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 883760 entries, 0 to 887441
Data columns (total 20 columns):
loan_amnt              883760 non-null float64
term                   883760 non-null int64
installment            883760 non-null float64
home_ownership         883760 non-null object
annual_inc             883760 non-null float64
verification_status    883760 non-null object
loan_status            883760 non-null object
purpose                883760 non-null object
addr_state             883760 non-null object
dti                    883760 non-null float64
delinq_2yrs            883760 non-null float64
open_acc               883760 non-null float64
pub_rec                883760 non-null float64
revol_bal              883760 non-null float64
total_acc              883760 non-null float64
initial_list_status    883760 non-null object
application_type       883760 non-null object
mort_acc               883760 non-null float64
loan_age               883760 non-null int64
fico_value             883760 non-null float64
dtypes: float64(11), int64(2), object(7)
memory usage: 141.6+ MB

In [13]:
train_data['loan_status'].value_counts()

Fully Paid     725753
Charged Off    158007
Name: loan_status, dtype: int64

In [14]:
train_data['loan_status'] = train_data['loan_status'].str.replace('Fully Paid','1')
train_data['loan_status'] = train_data['loan_status'].str.replace('Charged Off','0')

In [15]:
test_data['loan_status'] = test_data['loan_status'].str.replace('Fully Paid','1')
test_data['loan_status'] = test_data['loan_status'].str.replace('Charged Off','0')

In [16]:
train_data['loan_status']=train_data['loan_status'].astype(int)

In [17]:
test_data['loan_status']=test_data['loan_status'].astype(int)

In [18]:

one_hot_data=pd.get_dummies(train_data, columns=["home_ownership","verification_status", "purpose","addr_state","initial_list_status","application_type"], prefix=["home", 'verification', 'purpose', 'addr','initial_','appli'])

In [19]:

one_hot_test=pd.get_dummies(test_data, columns=["home_ownership","verification_status", "purpose","addr_state","initial_list_status","application_type"], prefix=["home", 'verification', 'purpose', 'addr','initial_','appli'])

In [20]:
one_hot_test.shape

(791870, 90)

In [21]:
one_hot_data.shape

(883760, 92)

In [22]:
one_hot_data.drop(['home_OTHER'],axis =1,inplace =True)
one_hot_data.drop(['addr_IA'],axis =1,inplace =True)

In [23]:
X_train=one_hot_data.drop(['loan_status'],axis=1) 
y_train=one_hot_data.loan_status

In [24]:
X_test=one_hot_test.drop(['loan_status'],axis=1) 
y_test=one_hot_test.loan_status

In [25]:
from sklearn.ensemble import RandomForestClassifier
dfor = RandomForestClassifier()
dfor.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [26]:
y_pred = dfor.predict(X_test)

In [30]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(accuracy_score(y_test, y_pred))

[[ 22509 127491]
 [ 40925 600945]]
              precision    recall  f1-score   support

           0       0.35      0.15      0.21    150000
           1       0.82      0.94      0.88    641870

    accuracy                           0.79    791870
   macro avg       0.59      0.54      0.54    791870
weighted avg       0.74      0.79      0.75    791870

0.7873186255319686

In [32]:
# Confusion matrix 
from sklearn import metrics
confusion = metrics.confusion_matrix(y_test, y_pred)
print(confusion)

[[ 22509 127491]
 [ 40925 600945]]

In [33]:
TP = confusion[1,1] # true positive 
TN = confusion[0,0] # true negatives
FP = confusion[0,1] # false positives
FN = confusion[1,0] # false negatives

In [34]:
accuracy=(TP+TN)/(TP+TN+FP+FN)
sensitivity=TP / float(TP+FN)
specificity=TN / float(TN+FP)
print('Accuracy='+ str(accuracy)) 
print('sensitivity='+str(sensitivity))
print('specificity='+str(specificity))

Accuracy=0.7873186255319686
sensitivity=0.9362409833766963
specificity=0.15006